<header class="bar-header">
    <a id="menu">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Menu%2C_Web_Fundamentals_%28White%29.svg/2000px-Menu%2C_Web_Fundamentals_%28White%29.svg.png" style="width: 30px; float: left; margin: 8px; margin-left: 20px; margin-right: 25px; cursor: pointer;">
    </a>
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <h1 class="logo" alt="PortEXE">
        <a href="{{ site.baseurl }}/" alt="PortEXE">
            <img src="https://i.imgur.com/OM50wrX.png" alt="PortEXE" style="width: 150px; margin-bottom: -5px;">
        </a>
        <span id="header-headline" style="color: white;">Technology Explained Casually</span>
    </h1>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
