<header class="bar-header">
    <a id="menu">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <a id="search" class="dosearch">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Menu%2C_Web_Fundamentals_%28White%29.svg/2000px-Menu%2C_Web_Fundamentals_%28White%29.svg.png" style="width: 30px; float: left; margin: 8px; margin-left: 20px; margin-right: 25px;">
    </a>
    <h1 class="logo" alt="ZackAZT">
        <a href="{{ site.baseurl }}/" alt="ZackAZT">
            <img src="https://i.imgur.com/TLvihxr.png" alt="ZackAZT" style="width: 150px; margin-bottom: -5px;">
        </a>
        <span id="header-headline" style="color: white;">Software Engineer and Web Developer</span>
    </h1>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
