<div id="portfolio" style="padding-top: 2px; ">
<h4 style="color: #d6d2c0; margin-left: 20px; margin-bottom: 20px; font-size: 28px; text-align: center;">Check out some of my projects:</h4>
<div id="grid" class="row flex-grid">
    <article class="box-item portfolio-item" itemscope="itemscope" itemtype="http://schema.org/CreativeWork" itemprop="creativeWork">
        <div class="box-body">
            <div class="">
                <span style="color: white; text-align: center; font-size: 14px; width: 100%;">Casual Death Music</span>
                <a href="http://www.csldth.com/" target="_blank">
                    <img src="/assets/img/portfolio/csldth_preview.png" style="width: 100%; box-shadow: 2px 2px 2px black; margin-top: 15px;" class="preload">
                </a>
            </div>
        </div>
     </article>
     <article class="box-item portfolio-item" itemscope="itemscope" itemtype="http://schema.org/CreativeWork" itemprop="creativeWork">
        <div class="box-body">
            <div class="">
                <span style="color: white; text-align: center; font-size: 14px; width: 100%;">Tablr - An Angular 2 Component</span>
                <a href="https://github.com/Zackazt/Tablr" target="_blank">
                    <img src="/assets/img/portfolio/tablr_preview.png" style="width: 100%; box-shadow: 2px 2px 2px black; margin-top: 15px;" class="preload">
                </a>
            </div>
        </div>
     </article>
     <article class="box-item portfolio-item" itemscope="itemscope" itemtype="http://schema.org/CreativeWork" itemprop="creativeWork">
        <div class="box-body">
            <div class="">
                <span style="color: white; text-align: center; font-size: 14px; width: 100%;">A+ Study App</span>
                <a href="https://play.google.com/store/apps/details?id=com.freeparking.zack.a_plus_practice&hl=en" target="_blank">
                    
                    <img src="/assets/img/portfolio/aplus_preview.png" style="width: 100%; box-shadow: 2px 2px 2px black; margin-top: 15px;" class="preload">
                </a>
            </div>
        </div>
     </article>
</div>
</div>