---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
        {% include news.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
        <script>
            $(document).ready(function() {
                console.log("TRYING TO WORKKK!!!!!");
                var feed = "https://news.google.com/news/rss/headlines/section/topic/TECHNOLOGY?ned=us&hl=en&gl=US";
                $.ajax({
                    url: feed,
                    accepts:{
                        xml:"application/rss+xml"
                    },
                    dataType:"xml",
                    success:function(data) {
                        console.log('DATA: ', data);
                        $(data).find("item").each(function () {
                            var el = $(this);
                            console.log("------------------------");
                            console.log("title      : " + el.find("title").text());
                            console.log("link       : " + el.find("link").text());
                            console.log("description: " + el.find("description").text());
                        });
                    }   
                });
            });
        </script>
    </body>
</html>

