<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">
    {% include head.html %}

    <!-- Adsense stuff -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6360281499219376",
        enable_page_level_ads: true
      });
    </script>

        {% include minutes-to-read.html %}
        {% include svg-icons.html %}
        {% include header.html %}


        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">

                <div class="post-top-social">
                    <hr>
                    <p style="text-align: center; font-weight: 700; font-size: 24px;">Be sure to follow me for upcoming content!</p>
                     <p style="text-align: center;">
                      {% if site.facebook_username %}
                      <a itemprop="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
                        <svg><use xlink:href="#icon-facebook"></use></svg>
                      </a>
                      {% endif %}
                      {% if site.twitter_username %}
                      <a itemprop="twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
                        <svg><use xlink:href="#icon-twitter"></use></svg>
                      </a>
                      {% endif %}
                      {% if site.instagram_username %}
                      <a itemprop="instagram" href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
                        <svg><use xlink:href="#icon-instagram"></use></svg>
                      </a>
                      {% endif %}
                    </p>
                      <hr>
                </div>

                <p itemprop="post-info" class="post-info">
                    {% if page.date %}
                        <svg id="date" class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">
                            {% include date.html date=page.date %}
                        </time>
                    {% endif %}
                    <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
                    <span>{{ minutesText }}</span>
                </p>
                <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                <p itemprop="description" class="subtitle">{{ page.description }}</p>



                {% if page.image %}
                    <img src="{{ page.image }}" alt="{{ page.caption }}" class="post-cover">
                {% endif %}

                {{ content }}
            </article>

            <!-- <div class="progress-bar" data-minutes="{{ totalMinutes }}">
                <span class="time-completed"></span>
                <span class="time-remaining"></span>
                <div class="bar">
                    <span class="completed" style="width:0%;"></span>
                    <span class="remaining" style="width:100%;"></span>
                </div>
            </div> -->

            {% include share.html %}
            {% include author.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
